<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="WSWL.WSWL" android:versionName="beta 1" android:versionCode="1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="无声物联" android:icon="@drawable/icon"></application>
</manifest>